:root {
    --background-color: #FFFFFF;
    --header-color: #FFFFFF;;

    --font-primary-color: #000000;
    --font-secondary-color: #918E9B;

    --font-status-color: #222222;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--font-primary-color);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

img {
    max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75rem;
}

nav {  
    display: flex;
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 2em;

    img {
        max-height: 3rem;
    }
}

/* section {
    padding: 1em;
}

.hero {
    display: flex;
    flex-direction: column;
    
    .hero--image {
        align-self: center;
        width: 75%;
    }

    .hero--title {
        margin: 1rem 0 0;
        font-size: 1.6em;
        font-weight: bold;
    }

    .hero--description {
        width: 75%;
        margin: .2rem 0 0;
        font-size: .7em;
        font-weight: lighter;        
    }
} */

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    /* padding: 0; */

    .card--image {        
        border-radius: 1em;
    }

    .card--status {
        background-color: var(--background-color);
        color: var(--font-status-color);
        position: absolute;
        top: .8em;
        left: .8em;        
        padding: .25em .5em;
        border-radius: .3em;
        font-size: 1.5em;        
        text-transform: uppercase;
    }

    .card--reviews {
        color: var(--font-primary-color);
        background-color: red;
        
        img {
            /* margin: 0; */
            /* shape-margin: 0; */
            /* vertical-align: none; */
        }

        .card--reviews-count {
            color: var(--font-secondary-color);
        }
        
        .card--reviews-country {
            color: var(--font-secondary-color);
        }
    }
    
}